/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: arial;
}

div.humidity {
  color: #483;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

div.temperature {
  margin-top: 20px;
  margin-bottom: 15px;
  color: red;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

table.log_table{
  margin: 0px auto;
  margin-top: 100px;
}

.log_table td {
  min-width: 100px;
  background-color: #DDD;
  border: 1px white solid;
  text-align: center;
}

.log_table td.humidity {
  color: #483;
}

.log_table td.temperature {
  color: red;
}

.button-bar {
  text-align: center;
}

a.button {
  margin: 3px;
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #555;
  display: inline-block;
}

#chart {
  width: 80%;
  height: 400px;
  margin: 0px auto;
}
